@import "tailwindcss";

@theme {
    --color-midnight: #0e100f;
    --color-beige: #fffce1;
    --color-saumon: #df5858;
}

* {
    font-family: 'Mona Sans', sans-serif;
}

html {
    background-color: var(--color-midnight);
    color: var(--color-beige);
}