@dashboard()

@slot('title')
CESI Premium - L'outil indispensable pour CESI
@end

@slot('description')
Découvrez la plateforme la plus avancée pour vous simplifier le quotidien à CESI, école d'ingénieurs. De la recherche de CCTL à l'accès aux Livrables, CESI Premium est l'allié indispensable pour réussir vos études.
@end

@slot('page')
6112c150899a270eb43c54cb
@end

@slot('mathjax')
@end

@slot('content')
  <section id="open-positions" class="section open-positions" style="margin-top: 100px">
    <div class="container-default w-container">
      <h2>Créer votre Prosit automatiquement</h2>
      <p class="paragraph open-positions" style="margin-bottom: 30px">
        Générez automatiquement votre fichier template Word complété avec vos paramètres pour votre Prosit. Remplissez simplement les différentes informations du Prosit ci-dessous.
      </p>
    </div>
    <div class="container-default w-container">
    <form method="POST" action="{{ route('connexion.post') }}" class="card-contact-form">
      {{ csrfField() }}
      <div class="form-container">
        <div class="input-wrapper" style="min-width: 400px">
          <label for="titre">Titre du Prosit</label>
          <input class="input w-input" maxlength="256" name="titre" data-name="titre" placeholder="Et la marmotte ?" type="text" id="titre" required />
        </div>
        <div class="input-wrapper">
          <label for="bloc">Nom du bloc</label>
          <input class="input w-input" maxlength="256" name="bloc" data-name="bloc" placeholder="BTP" type="text" id="bloc" required />
        </div>
        <div class="input-wrapper">
          <label for="numero">Numéro du Prosit</label>
          <input class="input w-input" maxlength="256" name="numero" data-name="numero" placeholder="3" type="text" id="numero" required />
        </div>
        <div class="input-wrapper">
          <label for="animateur">Nom de l'animateur</label>
          <input class="input w-input" maxlength="256" name="animateur" data-name="animateur" placeholder="Olivier" type="text" id="animateur" required />
        </div>
        <div class="input-wrapper">
          <label for="gestionnaire">Nom du gestionnaire</label>
          <input class="input w-input" maxlength="256" name="gestionnaire" data-name="gestionnaire" placeholder="Abbas" type="text" id="gestionnaire" required />
        </div>
        <div class="input-wrapper">
          <label for="secretaire">Nom du secrétaire</label>
          <input class="input w-input" maxlength="256" name="secretaire" data-name="secretaire" placeholder="Faouzi" type="text" id="secretaire" required />
        </div>
        <div class="input-wrapper">
          <label for="scribe">Nom du scribe</label>
          <input class="input w-input" maxlength="256" name="scribe" data-name="scribe" placeholder="Rémi" type="text" id="scribe" required />
        </div>
        <div class="input-wrapper" style="min-width: 400px">
          <label for="cles">Les mots clés</label>
          <textarea class="input w-input" maxlength="256" name="cles" data-name="cles" placeholder="- Poutre - Descente des charges - Calculs" type="text" id="cles" required rows="3"></textarea>
        </div>
        <div class="input-wrapper" style="min-width: 400px">
          <label for="contexte">Le contexte</label>
          <textarea class="input w-input" maxlength="256" name="contexte" data-name="contexte" placeholder="Créer un ponton au dessus de l'eau ..." type="text" id="contexte" required rows="3"></textarea>
        </div>
        <div class="input-wrapper" style="min-width: 400px">
          <label for="problematiques">Les problématiques</label>
          <textarea class="input w-input" maxlength="256" name="problematiques" data-name="problematiques" placeholder="Créer un ponton au dessus de l'eau ..." type="text" id="problematiques" required rows="3"></textarea>
        </div>
        <div class="input-wrapper" style="min-width: 400px">
          <label for="contraintes">Les contraintes</label>
          <textarea class="input w-input" maxlength="256" name="contraintes" data-name="contraintes" placeholder="Créer un ponton au dessus de l'eau ..." type="text" id="contraintes" required rows="3"></textarea>
        </div>
        <div class="input-wrapper" style="min-width: 400px">
          <label for="livrable">Le livrable</label>
          <textarea class="input w-input" maxlength="256" name="livrable" data-name="livrable" placeholder="Créer un ponton au dessus de l'eau ..." type="text" id="livrable" required rows="3"></textarea>
        </div>
        <div class="input-wrapper" style="min-width: 400px">
          <label for="generalisation">La généralisation</label>
          <textarea class="input w-input" maxlength="256" name="generalisation" data-name="generalisation" placeholder="Créer un ponton au dessus de l'eau ..." type="text" id="generalisation" required rows="3"></textarea>
        </div>
        <div class="input-wrapper" style="min-width: 400px">
          <label for="pistes">Les pistes de solutions</label>
          <textarea class="input w-input" maxlength="256" name="pistes" data-name="pistes" placeholder="Créer un ponton au dessus de l'eau ..." type="text" id="pistes" required rows="3"></textarea>
        </div>
        <div class="input-wrapper" style="min-width: 400px">
          <label for="plan">Le plan d'action</label>
          <textarea class="input w-input" maxlength="256" name="plan" data-name="plan" placeholder="Créer un ponton au dessus de l'eau ..." type="text" id="plan" required rows="3"></textarea>
        </div>
        <div class="contact-form">
          <input type="submit" data-wait="Patientez ..." class="button-primary button-white w-button" value="Télécharger le fichier" />
        </div>
      </div>
    </form>
    </div>
  </section>
@end
@end
