@dashboard()

@slot('title')
CESI Premium - L'outil indispensable pour CESI
@end

@slot('description')
Découvrez la plateforme la plus avancée pour vous simplifier le quotidien à CESI, école d'ingénieurs. De la recherche de CCTL à l'accès aux Livrables, CESI Premium est l'allié indispensable pour réussir vos études.
@end

@slot('page')
6112c150899a270eb43c54cb
@end

@slot('mathjax')
@end

@slot('content')
  <section id="open-positions" class="section open-positions" style="margin-top: 100px">
    <div class="container-default w-container">
      <h2>Parcourir les CCTLs</h2>
      <p class="paragraph open-positions" style="margin-bottom: 30px">
        Découvrez tout les CCTLs publiés par <span class="text-no-wrap">la communautée CESI Premium.</span>
      </p>
    </div>
    <div class="container-default w-container">
      <div data-w-id="247af3a2-4cf2-3014-d92f-5dda8ecdf0e6" style="opacity:0" class="w-dyn-list">
        <div role="list" class="open-positions-grid w-dyn-items" style="grid-template-columns: 1fr 1fr 1fr">
          @each(cctl in cctls)
            <div role="listitem" class="career-item w-dyn-item">
              <a href="{{ route('cctl', {id: cctl.id}) }}" class="card career-item w-inline-block">
                <div class="card-career-item-content-top">
                  <h3 class="title card-career-item">{{ cctl.titre }}</h3>
                  <p class="paragraph card-career-item">{{ cctl.description }}</p>
                </div>
                <div class="divider card-career-item"></div>
                <div class="card-career-item-content-bottom">
                  <div class="card-career-item-about-wrapper">
                    <div class="card-career-item-about-content">
                      <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b9546eace2184ae28ce_icon-1-card-career-item-dark-template.svg" loading="eager" alt="Location Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                      <div class="card-career-item-about-text">{{ cctl.promotion }}</div>
                    </div>
                    <div class="card-career-item-about-content">
                      <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b95da51f1017e31dd46_icon-2-card-career-item-dark-template.svg" loading="eager" alt="Clock Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                      <div class="card-career-item-about-text">{{ cctl.duree }}</div>
                    </div>
                    <div class="card-career-item-about-content">
                      <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b95da51f1017e31dd46_icon-2-card-career-item-dark-template.svg" loading="eager" alt="Clock Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                      <div class="card-career-item-about-text">{{ cctl.date.toFormat('dd/MM/yyyy') }}</div>
                    </div>
                  </div>
                  <div class="link-underline-main-wrapper card-career-item">
                    <div class="link-underline-text-wrapper">
                      <div>Accéder</div>
                      <div class="link-underline-text-icon"></div>
                    </div>
                    <div class="link-underline-wrapper">
                      <div class="link-underline"></div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          @end
        </div>
      </div>
    </div>
  </section>
@end
@end
