@dashboard()

@slot('title')
CESI Premium - L'outil indispensable pour CESI
@end

@slot('description')
Découvrez la plateforme la plus avancée pour vous simplifier le quotidien à CESI, école d'ingénieurs. De la recherche de CCTL à l'accès aux Livrables, CESI Premium est l'allié indispensable pour réussir vos études.
@end

@slot('page')
611472adf8c3d1ee8343074a
@end

@slot('mathjax')
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
@end

@slot('content')
  <section class="section" style="padding-top: 50px">
    <div class="container-default w-container">
      <div data-w-id="4f9c1cdb-0cb6-513f-c148-a47ee791c608" style="opacity:0" class="backlink-main-wrapper">
        <a data-w-id="863456df-df07-80cb-8c9a-d062b27aee10" href="{{ route('cctls') }}" class="backlink w-inline-block">
          <div class="backlink-arrow"></div>
          <div>Retour aux CCTls</div>
        </a>
      </div>
      <div class="career-wrapper">
        <div data-w-id="207a1f3f-6b28-4502-1497-6299c61917ae" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content career-content">
          <div class="card career">
            <div class="card-career-content-top">
              <div class="card-career-about-wrapper">
                <div class="card-career-item-about-wrapper">
                  <div class="card-career-item-about-content">
                    <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b9546eace2184ae28ce_icon-1-card-career-item-dark-template.svg" loading="eager" alt="Location Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                    <div class="card-career-item-about-text">{{ cctl.promotion }}</div>
                  </div>
                  <div class="card-career-item-about-content">
                    <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b95da51f1017e31dd46_icon-2-card-career-item-dark-template.svg" loading="eager" alt="Clock Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                    <div class="card-career-item-about-text">{{ cctl.duree }}</div>
                  </div>
                </div>
                <div class="card-career-about-date-wrapper">
                  <div class="card-career-about-date-text">CCTL passé le :</div>
                  <div class="card-career-about-date-text-result" style="margin-left: 10px">{{ cctl.date.setLocale('fr').toFormat('d MMMM yyyy') }}</div>
                </div>
              </div>
              <h1 class="title h2-size card-career">{{ cctl.titre }}</h1>
              <p class="paragraph card-career">{{ cctl.description }}</p>
            </div>
            <div class="card-career-content-bottom">
              @each((question, num_question) in await cctl.related('cctlQuestions').query())
              <div class="divider card-career"></div>
              <div style="display: flex; justify-content: space-between">
                <p>Question n°{{ question.numero }}</p>
                <p>{{ question.type }}</p>
              </div>
              <h2 class="title h3-size card-career-description" style="white-space: pre-wrap;">{{ question.texte }}</h2>
              <div class="rich-text w-richtext">


                @if(question.type == "Question à valeurs numériques")
                  @each((reponse, index) in await question.related('cctlAnswers').query())
                    <div class="input-wrapper input-full">
                      <label for="{{ num_question }}{{ index }}">Votre réponse :</label>
                      <input class="input w-input input-secondary" name="{{ num_question }}{{ index }}" type="number" id="{{ num_question }}{{ index }}" required />
                    </div>
                  @end


                @elseif(question.type == "Question d'association")
                  @each((reponse, index) in await question.related('cctlAnswers').query())
                    @if(reponse.texte.slice(-4) == ".png")
                      <div style="display: flex; flex-direction: row; margin-top: 20px">
                        <img src="https://s.elffe.theia.fr/data/platforms/cesi/docimo_image_{{ reponse.texte }}" style="border-radius: 0; width: 50%" alt="Image" />
                        <div style="width: 100%; margin-left: 30px">
                          <label for="{{ num_question }}{{ index }}">Votre réponse :</label>
                          <select class="input w-input input-secondary" name="{{ num_question }}{{ index }}" type="number" id="{{ num_question }}{{ index }}" required>
                            @each((reponse, index) in await question.related('cctlAnswers').query())
                              <option value="{{ reponse.correction }}">{{ reponse.correction }}</option>
                            @end
                          </select>
                        </div>
                      </div>
                    @else
                      <div style="display: flex; flex-direction: row; margin-top: 20px">
                        <p>{{ reponse.texte }}</p>
                        <div style="width: 100%; margin-left: 30px">
                          <label for="{{ num_question }}{{ index }}">Votre réponse :</label>
                          <select class="input w-input input-secondary" name="{{ num_question }}{{ index }}" type="number" id="{{ num_question }}{{ index }}" required>
                            @each((reponse, index) in await question.related('cctlAnswers').query())
                              <option value="{{ reponse.correction }}">{{ reponse.correction }}</option>
                            @end
                          </select>
                        </div>
                      </div>
                    @end
                  @end


                @elseif(question.type == "Question à réponse unique")
                  <div class="radio-cctl">
                    @each((reponse, index) in await question.related('cctlAnswers').query())
                      <input type="radio" id="{{ num_question }}{{ index }}" name="reponses" value="{{ num_question }}{{ index }}">
                      <label for="{{ num_question }}{{ index }}">{{ reponse.texte }}</label>
                    @end
                  </div>

                @else
                  <div class="radio-cctl">
                  @each((reponse, index) in await question.related('cctlAnswers').query())
                    <input type="checkbox" id="{{ num_question }}{{ index }}" name="reponses" value="{{ num_question }}{{ index }}">
                    <label for="{{ num_question }}{{ index }}">{{ reponse.texte }}</label>
                  @end
                @end


                <p id="correction" style="display: none">Correction : {{ question.correction }}</p>
              </div>
              @end
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gradient-blur-wrapper careers-1">
        <div class="bg-gradient-blur-circle-3 pink"></div>
        <div class="bg-gradient-blur-circle-2 blue"></div>
        <div class="bg-gradient-blur-circle-1 purple"></div>
      </div>
      <div class="bg-gradient-blur-wrapper careers-2">
        <div class="bg-gradient-blur-circle-3 pink"></div>
        <div class="bg-gradient-blur-circle-2 purple"></div>
        <div class="bg-gradient-blur-circle-1 purple"></div>
      </div>
    </div>
  </div>
  </section>
  <div class="container-default career-divider w-container">
    <div class="divider"></div>
  </div>
  <section class="section more-jobs">
    <div class="container-default w-container">
      <div data-w-id="c9c5d50b-0ba0-f9d9-1e4d-bf15ddae9c01" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="content-top more-jobs">
        <div class="split-content more-jobs-content-top-left">
          <h2 class="title more-jobs">More job openings</h2>
        </div>
        <div class="split-content more-jobs-content-top-right">
          <div class="button-primary-gradient">
            <a href="/careers" class="button-primary small w-button">Browse all</a>
          </div>
        </div>
      </div>
      <div data-w-id="28091d95-6b74-30d9-3c74-c714db78f351" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="open-positions-collection-list-wrapper w-dyn-list">
        <div role="list" class="open-positions-grid w-dyn-items">
          <div role="listitem" class="career-item w-dyn-item">
            <a href="/career/facebook-ads-expert" class="card career-item w-inline-block">
              <div class="card-career-item-content-top">
                <h3 class="title card-career-item">Facebook Ads Expert</h3>
                <p class="paragraph card-career-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
              </div>
              <div class="divider card-career-item"></div>
              <div class="card-career-item-content-bottom">
                <div class="card-career-item-about-wrapper">
                  <div class="card-career-item-about-content">
                    <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b9546eace2184ae28ce_icon-1-card-career-item-dark-template.svg" loading="eager" alt="Location Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                    <div class="card-career-item-about-text">Remote</div>
                  </div>
                  <div class="card-career-item-about-content">
                    <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b95da51f1017e31dd46_icon-2-card-career-item-dark-template.svg" loading="eager" alt="Clock Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                    <div class="card-career-item-about-text">Contract</div>
                  </div>
                </div>
                <div class="link-underline-main-wrapper card-career-item">
                  <div class="link-underline-text-wrapper">
                    <div>Apply now</div>
                    <div class="link-underline-text-icon"></div>
                  </div>
                  <div class="link-underline-wrapper">
                    <div class="link-underline"></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="career-item w-dyn-item">
            <a href="/career/senior-react-developer" class="card career-item w-inline-block">
              <div class="card-career-item-content-top">
                <h3 class="title card-career-item">Senior React Developer</h3>
                <p class="paragraph card-career-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
              </div>
              <div class="divider card-career-item"></div>
              <div class="card-career-item-content-bottom">
                <div class="card-career-item-about-wrapper">
                  <div class="card-career-item-about-content">
                    <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b9546eace2184ae28ce_icon-1-card-career-item-dark-template.svg" loading="eager" alt="Location Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                    <div class="card-career-item-about-text">Remote</div>
                  </div>
                  <div class="card-career-item-about-content">
                    <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/61154b95da51f1017e31dd46_icon-2-card-career-item-dark-template.svg" loading="eager" alt="Clock Icon - Dark X Webflow Template" class="image card-career-item-about-icon" />
                    <div class="card-career-item-about-text">Part time</div>
                  </div>
                </div>
                <div class="link-underline-main-wrapper card-career-item">
                  <div class="link-underline-text-wrapper">
                    <div>Apply now</div>
                    <div class="link-underline-text-icon"></div>
                  </div>
                  <div class="link-underline-wrapper">
                    <div class="link-underline"></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
@end
@end

