@dashboard()

@slot('title')
CESI Premium - L'outil indispensable pour CESI
@end

@slot('description')
Découvrez la plateforme la plus avancée pour vous simplifier le quotidien à CESI, école d'ingénieurs. De la recherche de CCTL à l'accès aux Livrables, CESI Premium est l'allié indispensable pour réussir vos études.
@end

@slot('page')
6112c150899a270eb43c54cb
@end

@slot('mathjax')
@end

@slot('content')
  <section id="open-positions" class="section open-positions" style="margin-top: 100px">
    <div class="container-default w-container">
      <h2>Créer </h2>
      <p class="paragraph open-positions" style="margin-bottom: 30px">
        Générez automatiquement votre fichier template Word complété avec vos paramètres pour votre Prosit. Remplissez simplement les différentes informations du Prosit ci-dessous.
      </p>
    </div>
    <div class="container-default w-container">
    </div>
  </section>
@end
@end
