<!DOCTYPE html>
<html data-wf-page="647df6b85e29e9c629d1bae9" data-wf-status="1" lang="fr">
<head>
  <meta charset="utf-8" />
  <title>CESI Drop' - Page introuvable</title>
  <meta content="" name="description" />
  <meta content="CESI Drop' - Page introuvable" property="og:title" />
  <meta content="" property="og:description" />
  <meta content="https://studio-cesi.fr/thumbnail.png" property="og:image" />
  <meta content="CESI Drop' - Page introuvable" property="twitter:title" />
  <meta content="" property="twitter:description" />
  <meta content="https://studio-cesi.fr/thumbnail.png" property="twitter:image" />
  <meta property="og:type" content="website" />
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="/favicon.svg" rel="shortcut icon" type="image/x-icon" />
  <link href="/webclip.svg" rel="apple-touch-icon" />
  @vite('resources/css/app.css')
</head>
<body>
@include('layouts/s-navbar')
<div class="position-relative">
  <div class="utility-page-wrap">
    <div class="container-default w-container">
      <div data-w-id="619efe17469a19c94a600b1500000000000b" style="opacity:0" class="utility-page-content w-form">
        <div class="_404-not-found">404</div>
        <h1 class="display-2">Page introubable</h1>
        <div class="inner-container _620px center">
          <p class="mg-bottom-40px">La page que vous cherchez est introuvable. <br/>Elle a peut-être été supprimée.</p>
        </div>
        <div class="buttons-row center">
          <a data-w-id="8ca72d10-8a32-a1fb-2001-6b38f198a361" href="{{ route('accueil') }}" class="btn-primary w-button">Retourner à l'accueil <span class="line-square-icon link-icon-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
@include('layouts/footer')
@vite('resources/js/app.js')
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
</body>
</html>
