<!DOCTYPE html>
<html data-wf-page="64810a5b5189a13d1b72989e" data-wf-status="1" lang="fr">
<head>
  <meta charset="utf-8" />
  <title>CESI Drop' - Categorie - Les photos &amp; vidéos instantanées des évènements du CESI</title>
  <meta content="" name="description" />
  <meta content="CESI Drop' - Categorie - Les photos &amp; vidéos instantanées des évènements du CESI" property="og:title" />
  <meta content="" property="og:description" />
  <meta content="https://studio-cesi.fr/thumbnail.png" property="og:image" />
  <meta content="CESI Drop' - Categorie - Les photos &amp; vidéos instantanées des évènements du CESI" property="twitter:title" />
  <meta content="" property="twitter:description" />
  <meta content="https://studio-cesi.fr/thumbnail.png" property="twitter:image" />
  <meta property="og:type" content="website" />
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="/favicon.svg" rel="shortcut icon" type="image/x-icon" />
  <link href="/webclip.svg" rel="apple-touch-icon" />
  @vite('resources/css/app.css')
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5B0K1TE6VK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5B0K1TE6VK');
</script>
<!-- -->
<body>
<div class="page-wrapper">
  @include('layouts/navbar')
  <div class="section" style="padding-bottom: 0">
    <div class="container-default w-container">
      <div class="inner-container">
        <div class="text-center mg-bottom-64px">
          <h1 class="display-1">{{ categorie.title }}</h1>
          <div class="inner-container _596px center">
            <p class="mg-bottom-32px">{{ categorie.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" style="padding-top: 0; position: relative; margin: 10px;">
    <div id="freewall" class="free-wall">
      @each(media in await categorie.related('medias').query())
      <div class='brick' id='brick'>
        <a data-w-id="68bb4bae-5a88-0ba5-1bcc-393272cf8a05" class="portfolio-wrapper w-inline-block" onclick="openPopup('{{ media.id }}', '{{ media.extname }}')" style="cursor: pointer">
          <img src='https://studio-cesi.fr/uploads/{{ media.id }}.webp' class="card-image fit-cover" alt="{{ media.id }}"/>
          <div style="opacity:0" class="rectangle-gradient-bg portfolio-project-gradient"></div>
          <div style="opacity:0;-webkit-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 15px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="portfolio-link-btn-wrapper">
            <div class="btn-primary no-hover">Afficher <span class="line-square-icon link-icon-right"></span>
            </div>
          </div>
        </a>
      </div>
      @end
    </div>
  </div>
  @include('layouts/popup')
  @include('layouts/footer')
</div>
@vite('resources/js/app.js')
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script type="text/javascript" src="/freewall.js"></script>
<script type="text/javascript" src="/gallery.js"></script>
</body>
</html>
