@base()

@slot('title')
CESI Premium - L'outil indispensable pour CESI - Inscription
@end

@slot('description')
Découvrez la plateforme la plus avancée pour vous simplifier le quotidien à CESI, école d'ingénieurs. De la recherche de CCTL à l'accès aux Livrables, CESI Premium est l'allié indispensable pour réussir vos études.
@end

@slot('page')
6112c19d59487e4d73184fd6
@end

@slot('stripe')
<script src="https://js.stripe.com/v3/"></script>
@end

@slot('content')
  @include('layouts/navbar-simplified')
  <section class="section contact" style="margin-top: 150px; margin-bottom: 150px">
    <div class="container-default w-container">
      <div class="contact-wrapper">
        <div data-w-id="44696683-e56d-3769-b3d2-d0ba333fb441" style="opacity:0" class="split-content contact-content">
          <h2 class="title contact" style="width: 500px">Votre commande</h2>
          <p class="paragraph contact">1 an d'abonnement à CESI Premium
          <br><span class="color-white" style="font-size: 20px; font-weight: 600">31,99 €</span>
          </p>
          <div class="w-layout-grid contact-links-grid">
            <div class="contact-link w-inline-block payment-option">
              <img src="{{ asset('public/assets/img/abonnement-annuel.png') }}" loading="eager" alt="Abonnement annuel - CESI Premium" class="image contact-link-icon" />
              <div class="contact-link-text">
                Annuel
                <br>
                <span style="font-size: 16px; font-weight: normal">31,99 € / an</span>
              </div>
            </div>
            <a href="{{ route('abonnement.mensuel') }}" class="contact-link w-inline-block payment-option-not">
              <img src="{{ asset('public/assets/img/abonnement-mensuel.png') }}" loading="eager" alt="Abonnement mensuel - CESI Premium" class="image contact-link-icon" />
              <div class="contact-link-text">
                Mensuel
                <br>
                <span style="font-size: 16px; font-weight: normal">6,99 € / mois</span>
              </div>
            </a>
          </div>
        </div>
        <div data-w-id="59a930ba-1041-e0d0-2ddc-248a7c44a57b" style="opacity:0" class="split-content contact-form">
          <div class="card contact-form">
            <div class="contact-form-block">
              <h3 class="title contact">Paiement rapide</h3>
              <form id="payment-form" style="display: block!important;">
                <div id="payment-element">
                </div>
                <p style="font-size: 0.75rem; line-height: 1.5; color:#a59b93">Votre abonnement à CESI Premium commence aujourd'hui et se renouvellera automatiquement au prix de 31,99 € à partir du {{ date }} jusqu'à ce que vous le résiliiez.
                   Pour éviter d'être facturé à l'avenir, vous devez résilier votre abonnement avant sa prochaine date de renouvellement dans vos
                   Paramètres.Pour en savoir plus, cliquez ici.
                   En achetant ce produit, vous acceptez nos Conditions d'utilisation et notre Politique de confidentialité.
                </p>
                <div id="error-message" class="error-message" style="display: none; margin-top: 20px; margin-bottom: 20px">
                </div>
                <div class="button-primary-gradient contact-form">
                  <button id="submit" data-wait="Patientez ..." class="button-primary small w-button">Terminer l'achat</button>
                </div>
              </form>
            </div>
          </div>
          <div class="card-contact-form-gradient-blur"></div>
        </div>
      </div>
    </div>
  </section>
  @include('layouts/footer')
  <script>
    const stripe = Stripe('pk_test_51Oxu6yKu99Wj7F5n0SIzMnM6AlUszfIUagdoGLZHUBC4vz1S8otp2r5zDhpXY0t8iZsVUknRMwD9wizDTlm9rxu700Zk8MKhCv');

    const options = {
      clientSecret: '{{ clientSecret }}',
      appearance: {
        theme: 'flat',
        variables: {
          colorPrimary: '#e1b00d',
          colorBackground: '#3f332c',
          colorText: '#e6ded7',
          colorDanger: '#df1b41',
          fontFamily: 'Thicccboi, sans-serif',
          spacingUnit: '5px',
          borderRadius: '12px',
          colorTextPlaceholder: '#9c8e84',
        },
         rules: {
            '.Input:hover': {
              backgroundColor: '#27201a',
            },
          }
      }
    };

    const elements = stripe.elements(options);
    const paymentElement = elements.create('payment');
    const form = document.getElementById('payment-form');
    paymentElement.mount('#payment-element');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const {error} = await stripe.confirmPayment({
        elements,
        confirmParams: {
          return_url: "http://localhost:3333/abonnement/confirmation",
        }
      });

      if (error) {
        const messageContainer = document.querySelector('#error-message');
        messageContainer.textContent = error.message;
        messageContainer.style.display = 'block';
      }
    });
  </script>
@end
@end
