<footer class="footer">
  <div class="container-default w-container">
    <div data-w-id="eeb31b51-83df-fb96-9e65-fcd1067756fb" class="footer-content">
      <div class="footer-menu-main-content">
        <div class="footer-menu-wrapper">
          <div class="title footer-menu">Pages</div>
          <div class="footer-menu-content">
            <ul role="list" class="footer-nav w-list-unstyled">
              <li class="footer-nav-item">
                <a href="/" {{ (request.matchesRoute('accueil')) ? 'aria-current=page' : ''}} class="footer-nav-link">Accueil</a>
              </li>
              <li class="footer-nav-item">
                <a href="/a-propos" {{ (request.matchesRoute('a-propos')) ? 'aria-current=page' : ''}} class="footer-nav-link">A propos</a>
              </li>
              <li class="footer-nav-item">
                <a href="/tarifs" {{ (request.matchesRoute('tarifs')) ? 'aria-current=page' : ''}} class="footer-nav-link">Tarifs</a>
              </li>
              <li class="footer-nav-item">
                <a href="/contact" {{ (request.matchesRoute('contact')) ? 'aria-current=page' : ''}} class="footer-nav-link">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-menu-wrapper last">
          <div class="title footer-menu">Utilitaires</div>
          <div class="footer-menu-content">
            <ul role="list" class="footer-nav last w-list-unstyled">
              <li class="footer-nav-item">
                <a href="" class="footer-nav-link">Politique de confidentialité</a>
              </li>
              <li class="footer-nav-item">
                <a href="/" class="footer-nav-link">CGU</a>
              </li>
              <li class="footer-nav-item">
                <a href="" class="footer-nav-link">CGV</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-newsletter-content">
        <div class="title footer-menu">S'abonner à la newsletter</div>
        <p class="paragraph footer-newsletter">Abonnez vous à la newsletter de CESI Premium pour découvrir les nouvelles fonctionnalités ou bénéficier de promotions exclusives</p>
        <div class="footer-newsletter-form-block w-form">
          <form id="wf-form-Footer-Newsletter-Form" name="wf-form-Footer-Newsletter-Form" data-name="Footer Newsletter Form" method="get" class="footer-newsletter-form" data-wf-page-id="61113c4e9f23df42e2554109" data-wf-element-id="cdaabc30-be14-befc-1b55-798804a1fda8">
            <label for="email-newsletter"></label>
            <input class="input footer-newsletter w-input" maxlength="256" name="email-newsletter" placeholder="Votre adresse email" type="email" id="email-newsletter" required="" />
            <div class="button-primary-gradient footer-newsletter">
              <input type="submit" data-wait="Please wait..." class="button-primary footer-newsletter w-button" value="Suivre" />
            </div>
          </form>
          <div class="success-message w-form-done">
            <div>Merci d'avoir rejoint notre newsletter.</div>
          </div>
          <div class="error-message w-form-fail">
            <div>Oups ! Une erreur est survenue.</div>
          </div>
        </div>
        <div class="social-media-wrapper">
          <a href="https://www.facebook.com/" target="_blank" class="social-media-link"></a>
          <a href="https://twitter.com/" target="_blank" class="social-media-link icon-size-13px"></a>
          <a href="https://www.instagram.com/" target="_blank" class="social-media-link icon-size-15px"></a>
          <a href="https://www.linkedin.com/" target="_blank" class="social-media-link icon-size-13px"></a>
          <a href="https://www.youtube.com/" target="_blank" class="social-media-link icon-size-13px"></a>
        </div>
      </div>
    </div>
    <div data-w-id="7ddc8154-5985-c814-10de-e9f5faad4e13" class="footer-content-bottom">
      <a href="{{ route('accueil') }}" aria-current="page" class="footer-logo-container w-inline-block">
        <img src="./img/logo.svg" alt="CESI Premium - Logo" class="footer-logo" />
      </a>
      <div class="footer-small-print">CESI Premium © Tous droits réservés | Site web crée par le <a href="https://osalys.studio/" target="_blank">Studio Osalys</a>
      </div>
    </div>
  </div>
</footer>
