@eval(await auth.check())

<div data-collapse="medium" data-animation="over-left" data-duration="400" data-w-id="58db7844-5919-d71b-dd74-2323ed8dffe9" data-easing="ease" data-easing2="ease" role="banner" class="header w-nav">
  <div class="container-default w-container">
    <div class="header-wrapper">
      <div class="split-content header-right">
        <a href="{{ route('accueil') }}" aria-current="page" class="brand w-nav-brand w--current">
          <img src="./img/logo.svg" alt="CESI Premium - Logo" class="header-logo" />
        </a>
      </div>
      <div class="split-content header-center">
        <nav role="navigation" class="nav-menu w-nav-menu">
          <ul role="list" class="header-navigation w-list-unstyled">
            <li class="nav-item-wrapper">
              <a href="{{ route('accueil') }}" class="nav-link">Accueil</a>
            </li>
            <li class="nav-item-wrapper">
              <a href="/about" class="nav-link">A propos</a>
            </li>
            <li class="nav-item-wrapper">
              <a href="{{ route('fonctionnalites') }}" class="nav-link">Fonctionnalités</a>
            </li>
            <li class="nav-item-wrapper">
              <div data-hover="true" data-delay="0" data-w-id="f05a5eb5-5b4f-2c04-369b-54bf4593dba1" class="nav-link-dropdown w-dropdown">
                <div class="nav-link dropdown w-dropdown-toggle">
                  <div>Pages <span class="dropdown-arrow"></span>
                  </div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="dropdown-nav-main-wrapper">
                    <div class="dropdown-nav-pages-wrapper">
                      <div class="title dropdown">Menu</div>
                      <div class="dropdown-nav-content">
                        <ul role="list" class="dropdown-nav">
                          <li class="dropdown-nav-item">
                            <a href="/" class="dropdown-nav-link">Sales Home</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/home-page" aria-current="page" class="dropdown-nav-link w--current">Primary Home</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/about" class="dropdown-nav-link">About</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/contact" class="dropdown-nav-link">Contact</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/blog" class="dropdown-nav-link">Blog</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="https://darktemplate.webflow.io/blog/7-best-online-brokers-for-stocks-cryptos" class="dropdown-nav-link tag w-inline-block">
                              <div class="footer-nav-link-tag-text">Blog Post</div>
                              <div class="nav-link-tag-wrapper">
                                <div class="nav-link-tag">CMS</div>
                                <div class="nav-link-tag-blur"></div>
                              </div>
                            </a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/pricing" class="dropdown-nav-link">Pricing</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="https://darktemplate.webflow.io/product/advanced" class="dropdown-nav-link tag w-inline-block">
                              <div class="footer-nav-link-tag-text">Pricing Single</div>
                              <div class="nav-link-tag-wrapper">
                                <div class="nav-link-tag">CMS</div>
                                <div class="nav-link-tag-blur"></div>
                              </div>
                            </a>
                          </li>
                        </ul>
                        <ul role="list" class="dropdown-nav last">
                          <li class="dropdown-nav-item">
                            <a href="/integrations" class="dropdown-nav-link">Integrations</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="https://darktemplate.webflow.io/integrations/facebook" class="dropdown-nav-link tag w-inline-block">
                              <div class="footer-nav-link-tag-text">Integration Single</div>
                              <div class="nav-link-tag-wrapper">
                                <div class="nav-link-tag">CMS</div>
                                <div class="nav-link-tag-blur"></div>
                              </div>
                            </a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/careers" class="dropdown-nav-link">Careers</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="https://darktemplate.webflow.io/career/ui-ux-design-lead" class="dropdown-nav-link tag w-inline-block">
                              <div class="footer-nav-link-tag-text">Careers Single</div>
                              <div class="nav-link-tag-wrapper">
                                <div class="nav-link-tag">CMS</div>
                                <div class="nav-link-tag-blur"></div>
                              </div>
                            </a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/features" class="dropdown-nav-link">Features</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/team" class="dropdown-nav-link">Team</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="https://darktemplate.webflow.io/team/john-carter" class="dropdown-nav-link tag w-inline-block">
                              <div class="footer-nav-link-tag-text">Team Single</div>
                              <div class="nav-link-tag-wrapper">
                                <div class="nav-link-tag">CMS</div>
                                <div class="nav-link-tag-blur"></div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="dropdown-nav-pages-wrapper last">
                      <div class="title dropdown">Utility pages</div>
                      <div class="dropdown-nav-content">
                        <ul role="list" class="dropdown-nav last">
                          <li class="dropdown-nav-item">
                            <a href="/utility-pages/start-here" class="dropdown-nav-link">Start Here</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/utility-pages/style-guide" class="dropdown-nav-link">Style Guide</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="https://darktemplate.webflow.io/401" class="dropdown-nav-link">Password Protected</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="https://darktemplate.webflow.io/404" class="dropdown-nav-link">404 Not Found</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/utility-pages/licenses" class="dropdown-nav-link">Licenses</a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/utility-pages/changelog" class="dropdown-nav-link">Changelog</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </li>
            <!--
            <li class="nav-item-wrapper">
              include('pages/layouts/cart')
            </li>
            -->
           @if(auth.isAuthenticated)
            <li class="nav-item-wrapper mobile-button" style="padding-bottom: 0; margin-top: 50px">
              <div data-hover="true" data-delay="0" data-w-id="f05a5eb5-5b4f-2c04-369b-54bf4593dba1" class="nav-link-dropdown w-dropdown">
                <div class="nav-link dropdown w-dropdown-toggle">
                  <div>Votre compte <span class="dropdown-arrow"></span>
                  </div>
                </div>
                <nav class="dropdown-list w-dropdown-list short">
                  <div class="dropdown-nav-main-wrapper">
                    <div class="dropdown-nav-pages-wrapper">
                      <div class="dropdown-nav-content">
                        <ul role="list" class="dropdown-nav">
                          <li class="dropdown-nav-item">
                            <div class="flex center-horizontal" style="gap: 20px;">
                              @if(auth.user.pdp)
                                <img src="{{ auth.user.pdp }}" class="profile-picture">
                              @else
                                <img src="./img/profile-picture.png" class="profile-picture">
                              @endif
                              <div>
                                <div class="title dropdown" style="margin-bottom: 10px">
                                  {{ auth.user.prenom }} {{ auth.user.nom }}
                                </div>
                                <p>{{ auth.user.email }}</p>
                              </div>
                            </div>
                          </li>
                          <li class="dropdown-nav-item">
                            <hr style="width: 100%; margin-top: 0;">
                          </li>
                           <li class="dropdown-nav-item">
                            <a href="{{ route('dashboard') }}" aria-current="page" class="dropdown-nav-link">
                              <img src="./img/dashboard.svg" alt="Dashboard" class="icon-profile-dropdown">
                              Dashboard
                            </a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="/about" class="dropdown-nav-link">
                              <img src="./img/settings.svg" alt="Déconnexion" class="icon-profile-dropdown" style="fill: white">
                              Paramètres
                            </a>
                          </li>
                          <li class="dropdown-nav-item">
                            <a href="{{ route('deconnexion.post') }}" class="dropdown-nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                <img src="./img/logout.svg" alt="Déconnexion" class="icon-profile-dropdown" style="fill: white">
                                Se déconnecter
                            </a>
                            <form id="logout-form" action="{{ route('deconnexion.post') }}" method="POST" class="display-none">
                                {{ csrfField() }}
                            </form>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </li>
            @if(auth.user.stripeStatus != 'active')
            <li class="nav-item-wrapper mobile-button">
              <div class="button-primary-gradient header-button mobile-button">
                <a href="{{ route('abonnement') }}" class="button-primary small-v2 mobile-button w-button">S'abonner</a>
              </div>
            </li>
            @end
          @else
            <li class="nav-item-wrapper mobile-button" style="padding-bottom: 0; margin-top: 50px">
              <a href="{{ route('connexion') }}" class="button-secondary small-v2 mobile-button w-button" style="display: block;">Se connecter</a>
            </li>
            <li class="nav-item-wrapper mobile-button">
              <div class="button-primary-gradient header-button mobile-button">
                <a href="{{ route('inscription') }}" class="button-primary small-v2 mobile-button w-button">S'inscrire</a>
              </div>
            </li>
          @end
          </ul>
        </nav>
      </div>
      <div class="split-content header-left">
        @if(auth.isAuthenticated)
          <div data-hover="true" data-delay="0" data-w-id="f05a5eb5-5b4f-2c04-369b-54bf4593dba1" class="nav-link-dropdown w-dropdown nav-link sign-in">
            <div class="nav-link dropdown w-dropdown-toggle">
              <div>Votre compte <span class="dropdown-arrow"></span>
              </div>
            </div>
            <nav class="dropdown-list w-dropdown-list short">
              <div class="dropdown-nav-main-wrapper" style="padding: 30px">
                <div class="dropdown-nav-pages-wrapper">
                  <div class="dropdown-nav-content">
                    <ul role="list" class="dropdown-nav">
                      <li class="dropdown-nav-item">
                        <div class="flex center-horizontal" style="gap: 20px;">
                          @if(auth.user.pdp)
                            <img src="{{ auth.user.pdp }}" class="profile-picture">
                          @else
                            <img src="./img/profile-picture.png" class="profile-picture">
                          @endif
                          <div>
                            <div class="title dropdown" style="margin-bottom: 10px">
                              {{ auth.user.prenom }} {{ auth.user.nom }}
                            </div>
                            <p style="font-size: 14px">{{ auth.user.email }}</p>
                          </div>
                        </div>
                      </li>
                      <li class="dropdown-nav-item">
                        <hr style="width: 320px; margin-top: 0;">
                      </li>
                       <li class="dropdown-nav-item">
                        <a href="{{ route('dashboard') }}" aria-current="page" class="dropdown-nav-link">
                          <img src="./img/dashboard.svg" alt="Dashboard" class="icon-profile-dropdown">
                          Dashboard
                        </a>
                      </li>
                      <li class="dropdown-nav-item">
                        <a href="/about" class="dropdown-nav-link">
                          <img src="./img/settings.svg" alt="Déconnexion" class="icon-profile-dropdown" style="fill: white">
                          Paramètres
                        </a>
                      </li>
                      <li class="dropdown-nav-item">
                        <a href="{{ route('deconnexion.post') }}" class="dropdown-nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                            <img src="./img/logout.svg" alt="Déconnexion" class="icon-profile-dropdown" style="fill: white">
                            Se déconnecter
                        </a>
                        <form id="logout-form" action="{{ route('deconnexion.post') }}" method="POST" class="display-none">
                            {{ csrfField() }}
                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          @if(auth.user.stripeStatus != 'active')
          <div class="button-primary-gradient header-button">
            <a href="{{ route('abonnement') }}" class="button-primary small-v2 w-button" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1.01) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">S'abonner</a>
          </div>
          @end
        @else
          <a href="{{ route('connexion') }}" class="nav-link sign-in">Se connecter</a>
          <div class="button-primary-gradient header-button">
            <a href="{{ route('inscription') }}" class="button-primary small-v2 w-button" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1.01) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">S'inscrire</a>
          </div>
        @end

        <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
          <div class="header-menu-button-icon-wrapper">
            <div class="icon-wrapper">
              <div class="header-menu-button-icon-top"></div>
              <div class="header-menu-button-icon-medium"></div>
              <div class="header-menu-button-icon-bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
