<div class="dashboard-side">
  <div class="flex" style="flex-direction: column">
    <a href="{{ route('accueil') }}" aria-current="page" class="brand w-nav-brand w--current" style="margin-top: 20px; margin-bottom: 20px; align-self: center">
      <img src="/img/logo.svg" alt="CESI Premium - Logo" class="header-logo" />
    </a>
    <div class="divider card-career" style="width: 100%; margin-bottom: 20px; margin-top: 10px"></div>
    <div class="mg-left-12px" style="display: flex; flex-direction: column; row-gap: 20px">
      <a class="link-sidemenu" href="{{ route('dashboard') }}">
        <img src="/img/icons/home.svg" alt="Dashboard">
        Dashboard
      </a>
      <a class="link-sidemenu" href="{{ route('cctls') }}">
        <img src="/img/icons/cctl.svg" alt="CCTL">
        CCTL
      </a>
      <a class="link-sidemenu" href="{{ route('cctls') }}">
        <img src="/img/icons/livrable.svg" alt="Livrable">
        Livrables
      </a>
      <a class="link-sidemenu" href="{{ route('cctls') }}">
        <img src="/img/icons/prosit.svg" alt="Prosit">
        Prosits
      </a>
      <a class="link-sidemenu" href="{{ route('cctls') }}">
        <img src="/img/icons/messages.svg" alt="Messages">
        Messages
      </a>
      <a class="link-sidemenu" href="{{ route('diagramme') }}">
        <img src="/img/icons/diagramme.svg" alt="Diagramme">
        Diagrammes
      </a>
      <a class="link-sidemenu" href="{{ route('flashcards') }}">
        <img src="/img/icons/flashcard.svg" alt="FlashCard">
        Flashcards
      </a>
      <a class="link-sidemenu" href="{{ route('autoprosit') }}">
        <img src="/img/icons/autoprosit.svg" alt="AutoProsit">
        AutoProsit
      </a>
    </div>
  </div>
</div>
