@base()

@slot('title')
CESI Premium - L'outil indispensable pour CESI - Inscription
@end

@slot('description')
Découvrez la plateforme la plus avancée pour vous simplifier le quotidien à CESI, école d'ingénieurs. De la recherche de CCTL à l'accès aux Livrables, CESI Premium est l'allié indispensable pour réussir vos études.
@end

@slot('page')
6112c19d59487e4d73184fd6
@end

@slot('stripe')
@end

@slot('content')
  <section class="section contact-hero">
    <div class="container-small-552px contact-hero">
      <div class="bg-gradient-blur-wrapper contact-hero" style="height: 400px; width: 1000px">
        <div class="bg-gradient-blur-circle-3 pink top"></div>
        <div class="bg-gradient-blur-circle-2 blue"></div>
        <div class="bg-gradient-blur-circle-1 purple"></div>
      </div>
    </div>
  </section>
  <section class="section contact" style="padding-bottom: 184px">
    <div class="container-default w-container">
      <div class="contact-wrapper">
        <div data-w-id="59a930ba-1041-e0d0-2ddc-248a7c44a57b" style="opacity:0" class="split-content contact-form">
          <div class="card contact-form">
            <div id="w-node-_13235370-6615-b8f7-1966-ee3fe42ff50a-73184fd6" class="contact-form-block w-form">
              <div class="container-small-552px contact-hero">
                <h1 data-w-id="dc363e27-9952-4db8-7f54-6dda2f29d433" style="-webkit-transform:translate3d(0, 40%, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40%, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40%, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40%, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title contact-hero">Quelques infos</h1>
                <p data-w-id="0d3d1e09-c689-ed04-7a44-ab232f295d90" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="paragraph contact-hero">
                  Saissisez votre campus ainsi que votre promotion pour pouvoir bénéficier de toutes les fonctionnalités.
                </p>
              </div>
              <form method="POST" action="{{ route('choix.post') }}" class="card-contact-form">
                {{ csrfField() }}
                <div class="input-wrapper display-none">
                  <label for="prenom">Prénom</label>
                  <input class="input w-input" maxlength="256" name="prenom" data-name="prenom" type="text" id="prenom" required value="{{ session.get('infos').prenom }}" />
                </div>
                <div class="input-wrapper display-none">
                  <label for="nom">Nom</label>
                  <input class="input w-input" maxlength="256" name="nom" data-name="nom" type="text" id="nom" required value="{{ session.get('infos').nom }}" />
                </div>
                <div class="input-wrapper display-none">
                  <label for="email">Email</label>
                  <input class="input w-input" maxlength="256" name="email" data-name="email" type="email" id="email" required value="{{ session.get('infos').email }}" />
                </div>
                <div class="input-wrapper input-full">
                  <label for="campus">Votre campus</label>
                  <select class="input w-input" name="campus" data-name="campus" id="campus" required>
                    <option value="">-- Séléctionner --</option>
                    <option value="Angoulême">Angoulême</option>
                    <option value="Arras">Arras</option>
                    <option value="Aix-en-Provence">Aix-en-Provence</option>
                    <option value="Bordeaux">Bordeaux</option>
                    <option value="Brest">Brest</option>
                    <option value="Caen">Caen</option>
                    <option value="Châteauroux">Châteauroux</option>
                    <option value="Dijon">Dijon</option>
                    <option value="Grenoble">Grenoble</option>
                    <option value="La Rochelle">La Rochelle</option>
                    <option value="Le Mans">Le Mans</option>
                    <option value="Lille">Lille</option>
                    <option value="Lyon">Lyon</option>
                    <option value="Montpellier">Montpellier</option>
                    <option value="Nancy">Nancy</option>
                    <option value="Nantes">Nantes</option>
                    <option value="Nice">Nice</option>
                    <option value="Orléans">Orléans</option>
                    <option value="Paris Nanterre">Paris Nanterre</option>
                    <option value="Pau">Pau</option>
                    <option value="Reims">Reims</option>
                    <option value="Rouen">Rouen</option>
                    <option value="Saint-Nazaire">Saint-Nazaire</option>
                    <option value="Strasbourg">Strasbourg</option>
                    <option value="Toulouse">Toulouse</option>
                  </select>
                  @inputError('campus')
                    @each(message in $messages)
                      <p class="input-error">Le campus {{ message }}</p>
                    @end
                  @end
                </div>
                <div class="input-wrapper input-full">
                  <label for="promotion">Votre promotion</label>
                  <select class="input w-input" name="promotion" data-name="promotion" id="promotion" required>
                    <option value="">-- Séléctionner --</option>
                    <option value="A1">CPI A1</option>
                    <option value="A2G">CPI A2 - Mineure généraliste</option>
                    <option value="A2B">CPI A2 - Mineure BTP</option>
                    <option value="A2I">CPI A2 - Mineure informatique</option>
                    <option value="A2S">CPI A2 - Mineure systèmes embarqués</option>
                    <option value="A3G">CPI A3 - Majeure généraliste</option>
                    <option value="A3B">CPI A3 - Majeure BTP</option>
                    <option value="A3I">CPI A3 - Majeure informatique</option>
                    <option value="A3S">CPI A3 - Majeure systèmes embarqués</option>
                    <option value="A4G">CPI A4 - Majeure généraliste</option>
                    <option value="A4B">CPI A4 - Majeure BTP</option>
                    <option value="A4I">CPI A4 - Majeure informatique</option>
                    <option value="A4S">CPI A4 - Majeure systèmes embarqués</option>
                    <option value="A5G">CPI A5 - Majeure généraliste</option>
                    <option value="A5B">CPI A5 - Majeure BTP</option>
                    <option value="A5I">CPI A5 - Majeure informatique</option>
                    <option value="A5S">CPI A5 - Majeure systèmes embarqués</option>
                  </select>
                    @inputError('promotion')
                     @each(message in $messages)
                       <p class="input-error">La promotion {{ message }}</p>
                     @end
                   @end
                </div>
                 <div class="input-wrapper display-none">
                  <label for="password">Mot de passe</label>
                  <input class="input w-input" maxlength="256" name="password" data-name="password" type="password" id="password" required value="google" />
                </div>
                <div class="input-wrapper display-none">
                  <label for="password_confirmation">Mot de passe</label>
                  <input class="input w-input" maxlength="256" name="password_confirmation" data-name="password_confirmation" type="password" id="password_confirmation" required value="google" />
                </div>
                <div class="contact-form input-full">
                  <input type="submit" data-wait="Patientez ..." class="button-primary button-white w-button" value="Valider" />
                </div>
              </form>
            </div>
          </div>
          <div class="card-contact-form-gradient-blur"></div>
        </div>
      </div>
    </div>
  </section>
  @include('layouts/footer')
  @end
@end
