@base()

@slot('title')
CESI Premium - L'outil indispensable pour CESI
@end

@slot('description')
Découvrez la plateforme la plus avancée pour vous simplifier le quotidien à CESI, école d'ingénieurs. De la recherche de CCTL à l'accès aux Livrables, CESI Premium est l'allié indispensable pour réussir vos études.
@end

@slot('page')
6112c11d4bd9e52bb5bd3310
@end

@slot('stripe')
@end

@slot('content')
  @include('layouts/navbar')
  <section class="section features">
    <div class="container-medium-619px features">
      <h1 data-w-id="fc18840d-d4ef-b0a2-319e-1c8b05888a6f" style="-webkit-transform:translate3d(0, 40%, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40%, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40%, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40%, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title features">Fonctionnalités</h1>
      <p data-w-id="712d5750-a6ee-d63a-2335-83bae0bb7577" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="paragraph features">Découvrez la panoplie de fonctionnalités et d'outils proposés <span class="text-no-wrap">par la plateforme CESI Premium</span>
      </p>
    </div>
    <div class="container-default features w-container">
      <div data-w-id="8d6f7924-5161-05d1-9eea-0cfaa9222349" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid features-grid">
        <div id="w-node-_4a34076c-4cfe-01f2-e074-ed64c2a63d9c-b5bd3310" class="card feature-featured">
          <div class="card-feature-featured-content">
            <h2 class="title card-feature-featured">Une énorme banque de fichiers</h2>
            <p class="paragraph card-feature-featured">Accédez à une bibliothèque immense de documents publiés par <span class="text-no-wrap">la communautée CESI Premium.</span>
            </p>
          </div>
          <div class="image-wrapper card-feature-featured">
            <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f4cd52a7a4ad53fa27_image-1-features-dark-template.jpg" loading="eager" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 716px, (max-width: 1919px) 40vw, 521px" srcset="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f4cd52a7a4ad53fa27_image-1-features-dark-template-p-500.jpeg 500w, https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f4cd52a7a4ad53fa27_image-1-features-dark-template-p-800.jpeg 800w, https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f4cd52a7a4ad53fa27_image-1-features-dark-template.jpg 1042w" alt="Real Time Trading - Dark X Webflow Template" class="image card-feature-featured" />
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/5.svg') }}" loading="eager" alt="Flexible Hours - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">Livrables complétés</h3>
            <p class="paragraph card-feature">Découvrez les livrables rendus <span class="text-no-wrap">des années précédentes</span>
            </p>
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/1.svg') }}" loading="eager" alt="No Commission - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">CCTL corrigés</h3>
            <p class="paragraph card-feature">Accédez aux CCTL des années précédentes <span class="text-no-wrap">pour réviser facilement</span>
            </p>
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/4.svg') }}" loading="eager" alt="Desktop And Mobile - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">Accès aux Prosits</h3>
            <p class="paragraph card-feature">Accédez aux prosits complétés <span class="text-no-wrap">pour chaque bloc</span>
            </p>
          </div>
        </div>
      </div>
      <div data-w-id="eb612dfe-8984-acba-8c41-303f7da31fa6" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid features-grid">
        <div id="w-node-eb612dfe-8984-acba-8c41-303f7da31fa7-b5bd3310" class="card feature-featured v2">
          <div class="image-wrapper card-feature-featured">
            <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f4f1c289709d6ae98a_image-2-features-dark-template.jpg" loading="eager" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 716px, (max-width: 1919px) 40vw, 521px" srcset="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f4f1c289709d6ae98a_image-2-features-dark-template-p-500.jpeg 500w, https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f4f1c289709d6ae98a_image-2-features-dark-template-p-800.jpeg 800w, https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f4f1c289709d6ae98a_image-2-features-dark-template.jpg 1042w" alt="Security - Dark X Webflow Template" class="image card-feature-featured v2" />
          </div>
          <div class="card-feature-featured-content">
            <h2 class="title card-feature-featured">Des outils pour vous aider à réviser</h2>
            <p class="paragraph card-feature-featured">Améliorez vos notes grâce à différents outils propulsés par l'IA <span class="text-no-wrap">qui vous simplifient les révisions.</span>
            </p>
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/2.svg') }}" loading="eager" alt="Encryption - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">QCM automatiques</h3>
            <p class="paragraph card-feature">Faites des entraînements grâce à des QCM générés <span class="text-no-wrap">pour vous</span>
            </p>
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/3.svg') }}" loading="eager" alt="Security - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">Partage de fichiers</h3>
            <p class="paragraph card-feature">Entraîdez-vous grâce à des cannaux spécialement <span class="text-no-wrap">crées pour votre promo</span>
            </p>
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/7.svg') }}" loading="eager" alt="Authentication - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">Création de flashcards</h3>
            <p class="paragraph card-feature">Entraînez-vous avec des flashcards <span class="text-no-wrap">pour des révisions efficaces</span>
            </p>
          </div>
        </div>
      </div>
      <div data-w-id="c0526998-eb9e-0ac8-c994-4bd31a88f285" style="-webkit-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid features-grid last">
        <div id="w-node-c0526998-eb9e-0ac8-c994-4bd31a88f286-b5bd3310" class="card feature-featured">
          <div class="card-feature-featured-content">
            <h2 class="title card-feature-featured">Une plateforme innovante</h2>
            <p class="paragraph card-feature-featured">Utilisez nos différents outils innovants <span class="text-no-wrap">qui vous simplifient la vie au quotidien.</span>
            </p>
          </div>
          <div class="image-wrapper card-feature-featured">
            <img src="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f41f20bfe5b6dd31c9_image-3-features-dark-template.jpg" loading="eager" sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 716px, (max-width: 1919px) 40vw, 521px" srcset="https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f41f20bfe5b6dd31c9_image-3-features-dark-template-p-500.jpeg 500w, https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f41f20bfe5b6dd31c9_image-3-features-dark-template-p-800.jpeg 800w, https://assets-global.website-files.com/61113c4e9f23df1e7f554117/611452f41f20bfe5b6dd31c9_image-3-features-dark-template.jpg 1042w" alt="Smart Investments - Dark X Webflow Template" class="image card-feature-featured" />
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/6.svg') }}" loading="eager" alt="Stocks - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">Création de Prosit</h3>
            <p class="paragraph card-feature">Créez votre Prosit aller automatiquement <span class="text-no-wrap">avec votre fichier</span>
            </p>
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/8.svg') }}" loading="eager" alt="Saving Account - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">Extension de navigateur</h3>
            <p class="paragraph card-feature">Découvrez l'extension qui facilite l'utilisation <span class="text-no-wrap">de l'ENT, Moodle et bien +</span>
            </p>
          </div>
        </div>
        <div class="card feature">
          <img src="{{ asset('public/img/9.svg') }}" loading="eager" alt="Gear - Dark X Webflow Template" class="image card-feature-icon" />
          <div class="card-feature-content">
            <h3 class="title card-feature">Conception de diagrammes</h3>
            <p class="paragraph card-feature">Utilisez le créateur de schémas et de diagrammes <span class="text-no-wrap">sur la plateforme</span>
            </p>
          </div>
        </div>
      </div>
      <div class="bg-gradient-blur-wrapper features-1">
        <div class="bg-gradient-blur-circle-3 pink"></div>
        <div class="bg-gradient-blur-circle-2 blue"></div>
        <div class="bg-gradient-blur-circle-1 purple"></div>
      </div>
      <div class="bg-gradient-blur-wrapper features-2">
        <div class="bg-gradient-blur-circle-3 pink"></div>
        <div class="bg-gradient-blur-circle-2 blue-2"></div>
        <div class="bg-gradient-blur-circle-1 purple"></div>
      </div>
    </div>
  </section>
  @include('layouts/footer')
@end
@end
